.main-content {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    height: 51rem;
}

.main-content h1 {
    margin-bottom: 20px;
    font-size: 1.7em;
    color: #333;
     text-align: center;
}
